/* 用于技能和身份的字体 */
@font-face {
	font-family: "HYZLSJ";
	src: url("./shoushaUI/fonts/HYZLSJ.TTF");
}
/* 用于武将字体 */
@font-face {
	font-family: "WDZLFT";
	src: url("./shoushaUI/fonts/WDZLFT.TTF");
}
@font-face {
	font-family: "FZLBJW";
	src: url("./shoushaUI/fonts/FZLBJW.TTF");
}
/* 用于角色弹框标题的字体 */
@font-face {
	font-family: "ATLL";
	src: url("./shoushaUI/fonts/ATLL.OTF");
}

@font-face {
	font-family: "FZLSFT";
	src: url("./shoushaUI/fonts/FZLSFT.TTF");
}
.menu-container > .menu.main.cxy-import-dialog {
	top: 50% !important;
	left: 50% !important;
	width: 420px;
	height: 130px;
	padding: 15px;
	transform: translate(-50%, -50%);
}
.menu.main.cxy-import-dialog > .caption {
	padding-top: 0;
	padding-bottom: 8px;
}

/*--------（去除按钮虚化）--------*/
#control {
	text-align: center;
	z-index: 5;
	top: calc(200% / 3);
	left: calc(5% + 240px);
	width: calc(90% - 480px);
	pointer-events: none;
}
#control > * {
	pointer-events: auto;
}
#window:not(.nopointer) #control {
	cursor: pointer;
}
#control.nozoom > div {
	transition-property: opacity;
}
#control > div.stayleft {
	transition-property: opacity !important;
}
.control {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
}
.control {
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	opacity: 0;
}
.control.removing.removing2 {
	transform: scale(0.2);
}
.control > div {
	position: relative;
	padding: 3px;
	margin: 0;
}
.control.disabled {
	opacity: 1 !important;
	cursor: default !important;
}
#control > div {
	position: absolute;
	left: 50%;
}

/*-----去除透明背景框----*/
/*
.dialog.scroll1,
.dialog.scroll2,
.dialog.withbg {
	background: none;
	box-shadow: none;
	border-radius: 8px;
	min-height: 200px;
}
*/

/*-----更改无懈蓝框-------*/
.glow:not(.button):not(.card) {
	box-shadow: none !important;
	-webkit-filter: grayscale(100%);
	background-size: 100% 100%;
	z-index: 89;
	pointer-events: none;
}

/*-------文本颜色------*/
/*
.firetext {
	color: rgb(255,119,63);
}
.yellowtext {
	color: #bd6420;
}
.bluetext {
	color: #25c523;
}
.greentext {
	color: #25c523;
}
.icetext {
	color: rgb(59, 98, 115);
}
.thundertext,
.controlthundertext {
	color: rgb(117,186,255);
}
.kamitext {
	color: rgb(90,118,99);
}
.whitetext .thundertext {
	color: #d6d0af;
}
.poisontext {
	color: rgb(104,221,127);
}
.browntext {
	color: rgb(195,161,223);
}
.legendtext {
	color: rgb(233, 131, 255);
}
*/

.shousha_menu {
	width: 100%;
	border-radius: 3px;
	background-color: rgba(134, 200, 241, 0.5);
	font-family: yuanli;
	padding: 0.5px;
	/*cursor: pointer;*/
}

.KZJS,
.JDTSM,
.JDTSSM,
.GTBBSM,
.JMYSSM,
.QTMHSM > .shousha_text {
	text-align: left;
	font-size: 14px;
	width: 250px;
	word-wrap: break-word;
}

.shousha_update {
	z-index: 999;
	background-size: cover;
}

.shousha_update > .shousha_update_close {
	z-index: 999;
	position: fixed;
	overflow: hidden;
	--w: 76px;
	--h: calc(var(--w) * 64 / 76);
	width: var(--w);
	height: var(--h);
	top: 0px;
	right: 0px;
	margin: 23px;
	background-size: 100% 100%;
	background-image: url("./shoushaUI/shousha_close.png");
}

/*细节美化*/
.nmscore1 {
	/*手牌分十位*/
	display: block;
	position: absolute;
	width: 30px;
	left: 16px;
	bottom: 25px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 1;
}
.nmscore2 {
	/*手牌分个位*/
	display: block;
	position: absolute;
	width: 30px;
	right: 26px;
	bottom: 25px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 1;
}
.nmcardscore {
	/*手牌分背景*/
	display: block;
	position: absolute;
	width: 90px;
	background-image: url("./shoushaUI/MH/score.png");
	right: 36%;
	bottom: 20px;
	height: 90px;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 16px;
	z-index: -1;
}
