.button.character,
#arena > .player.xplayer {
	--width: 120px;
}

.popup-container > .character-dialog {
	top: calc(50% - var(--h) / 2 + var(--bt));
	left: calc(50% - var(--w) / 2 + var(--bl));
}

.character-dialog {
	--w: 660px;
	--h: 450px;
	--bt: calc(var(--h) * 40 / 290);
	--bl: calc(var(--w) * 38 / 497);
	--bb: calc(var(--h) * 17 / 290);
	--dw: calc(var(--w) - 2 * var(--bl));
	--dh: calc(var(--h) - var(--bt) - var(--bb));

	width: var(--dw);
	height: var(--dh);
	position: absolute;
	box-sizing: border-box;
	padding: 10px;
	z-index: 13;
}

.character-dialog.dialog2 {
	--bt: calc(var(--h) * 10 / 280);
	--bl: calc(var(--w) * 12 / 287);
	--bb: calc(var(--h) * 20 / 280);
}
.character-dialog.popped {
	animation: dialog_start2 0.3s;
	-webkit-animation: dialog_start2 0.3s;
}
.character-dialog::before {
	content: "";
	top: calc(0% - var(--bt));
	left: calc(0% - var(--bl));
	width: var(--w);
	height: var(--h);
	position: absolute;
	background-image: url("./images/dialog2.png");
	background-size: 100% 100%;
}
.character-dialog.dialog2::before {
	background-image: url("./images/dialog2.png");
}
.character-dialog > div {
	top: 0;
	height: 100%;
	position: absolute;
}

.character-dialog > div.biankuang {
	width: 21%;
	height: 40%;
	top: 47%;
	left: 3.6%;
	background-size: 100% 100%;
	z-index: 68;
	position: relative;
}

.character-dialog > div.biankuang2 {
	width: 21%;
	height: 40%;
	top: 47%;
	left: 3.6%;
	background-size: 100% 100%;
	z-index: 68;
	position: relative;
}

.xing {
	position: relative;
	width: 15px;
	height: 24%;
	left: 4.5%;
	z-index: 99;
	display: inline-flex;
	flex-direction: column-reverse;
}
.xing > .item {
	position: relative;
	background: url("./images/xing.png");
	background-size: cover;
	width: 15px;
	height: 15px;
	left: 60%;
	top: -16%;
	z-index: 99;
}

.xing2 {
	position: relative;
	width: 15px;
	height: 24%;
	left: 4.5%;
	z-index: 99;
	display: inline-flex;
	flex-direction: column-reverse;
}
.xing2 > .item {
	position: relative;
	background: url("./images/xing.png");
	background-size: cover;
	width: 15px;
	height: 15px;
	left: 60%;
	top: -16%;
	z-index: 99;
}

.bigdialog {
	position: relative;
	background: url("./images/bigdialog.png");
	background-size: 100% 100%;
	width: 80%;
	height: 100%;
	left: 10%;
	top: 0;
	z-index: 99;
}

.shanchang1 {
	left: 30.5%;
	top: 42.6%;
	height: 30.4%;
	width: 13.5%;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 9px;
	transition-property: opacity, transform;
	z-index: 69;
}

.shanchang2 {
	left: 45%;
	top: 42.6%;
	height: 30.4%;
	width: 13.5%;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 9px;
	transition-property: opacity, transform;
	z-index: 69;
}

.shanchang3 {
	left: 59.5%;
	top: 42.6%;
	height: 30.4%;
	width: 13.5%;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 9px;
	transition-property: opacity, transform;
	z-index: 69;
}

.shanchang4 {
	left: 74%;
	top: 42.6%;
	height: 30.4%;
	width: 13.5%;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 9px;
	transition-property: opacity, transform;
	z-index: 69;
}

.useless {
	left: 40%;
	top: 80%;
	height: 10%;
	width: 15%;
	background-size: 100% 100%;
	z-index: 69;
}

.useless2 {
	left: 65%;
	top: 80%;
	height: 10%;
	width: 15%;
	background-size: 100% 100%;
	z-index: 69;
}
/*玩家头像*/
.minixingxiang {
	/*left:calc(100% - 1000px);
	top: auto;
	bottom: 53%;
	width: 11%;
	height: 32%;*/
	opacity: 1;
	left: 9.7%;
	top: 15%;
	height: 32%;
	width: 16%;
	/*position:fixed;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 9px;
	transition-property: opacity, transform;
	z-index: 69;
}

.xingbie {
	left: 9.5%;
	top: 48%;
	height: 5%;
	width: 3.5%;
	background-size: 100% 100%;
	z-index: 69;
}

.jingji {
	left: 9.7%;
	top: 57%;
	height: 32%;
	width: 16%;
	background-size: 100% 100%;
	z-index: 69;
}

/*大资料页名称*/
.wanjiaming {
	font-size: 22px;
	top: 49%;
	left: 13%;
	color: white;
	text-align: left;
	-webkit-text-stroke: 0.15px rgba(0, 0, 0, 1);
	text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

/*分享*/
.fenxiang {
	font-size: 18px;
	top: 82.5%;
	left: 45%;
	color: white;
	text-align: center;
	-webkit-text-stroke: 0.15px rgba(0, 0, 0, 1);
	text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

/*展示*/
.zhanshi {
	font-size: 18px;
	top: 82.9%;
	left: 66.6%;
	color: white;
	text-align: center;
	-webkit-text-stroke: 0.15px rgba(0, 0, 0, 1);
	text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

/*公会*/
.gonghui {
	font-size: 15px;
	top: 54%;
	left: 10%;
	color: orange;
	text-align: left;
	-webkit-text-stroke: 0.15px rgba(0, 0, 0, 1);
	text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

/*鲜花*/
.xianhua {
	font-size: 10px !important;
	top: 90.5%;
	left: 13%;
	color: white;
	text-align: left;
	-webkit-text-stroke: 0.15px rgba(0, 0, 0, 1);
	text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

/*鸡蛋*/
.jidan {
	font-size: 10px;
	top: 90.5%;
	left: 22.5%;
	color: white;
	text-align: left;
	-webkit-text-stroke: 0.15px rgba(0, 0, 0, 1);
	text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
/*武将名字*/
.character-dialog > div.biankuangname {
	position: absolute;
	width: 15px;
	left: 5.8%;
	top: 52%;
	font-size: 14px;
	font-family: shousha;
	z-index: 99;
}

.character-dialog > div.biankuangname2 {
	position: absolute;
	width: 15px;
	left: 5.8%;
	top: 52%;
	font-size: 1.8vw;
	font-family: shousha;
	z-index: 99;
}

.character-dialog > div.dengji {
	z-index: 68;
}
/*武将牌露头*/
.character-dialog > div.left {
	left: 50px;
	top: auto;
	bottom: 15.4%;
	width: 16.5%;
	height: 39%;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 10px;
	-webkit-clip-path: url(#solo-clip);
	transition-property: opacity, transform;
	z-index: 69;
}

/*武将牌不露头*/
.character-dialog > div.left2 {
	left: 50px;
	top: auto;
	bottom: 15.4%;
	width: 16.5%;
	height: 36.8%;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 7px;
	transition-property: opacity, transform;
	z-index: 69;

	/*left: 8.7%;
  top: 48%;
  height: 36.8%;
  width: 16.5%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius:8px;
  z-index: 69;*/
}

.character-dialog > div.right {
	left: 50%;
	width: 50%;
	box-sizing: border-box;
	padding: 20px 15px 20px 0;
	overflow: auto;
}
.character-dialog.single > div.right {
	left: calc(50% - 105px);
	width: calc(50% + 105px);
}
.character-dialog > div.left > div {
	top: 65%;
	right: 30px;
	width: 210px;
	text-align: center;
	transform: translateY(-50%);
	position: absolute;
	white-space: nowrap;
}
.character-dialog.single > div.left > div {
	width: 105px;
	position: absolute;
}
.character-dialog > div.right > div {
	width: 100%;
	height: 60%;
	overflow: auto;
}
.character-dialog > div.right div {
	position: relative;
	bottom: -35%;
}
.character-dialog > div.right .xcaption {
	width: 100%;
	bottom: 0%;
	color: #c8a82c; /*技能名称*/
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 0;
	font-family: "ATLL";
}

.character-dialog > div.right .xskill {
	width: 100%;
	bottom: 0%;
}

.character-dialog > div.right .xskill > div {
	display: inline;
	color: #4b3b30; /*技能文描述颜色*/
	text-shadow: none;
	font-size: 16px;
	font-weight: bold;
	font-family: "FZLBJW";
}
.character-dialog > div.right .xskill > div[data-color] {
	color: #f0db1e;
}
.character-dialog > div.right .xskill > div[data-color="red"] {
	color: #f0db1e;
}
.character-dialog > div.right .xskill > div[data-color="black"] {
	color: #f0db1e;
}
.character-dialog > div.right .xskill + .xskill {
	margin-top: 15px;
}
