.skill-control {
	/*技能按钮*/
	max-width: 120px;
	/*同列技能可容纳最大宽度，建议别调*/
	bottom: 4px;
	/*整体上移，建议别调*/
	right: 44px;
	/*技能显示右移，越小越靠右，建议别调*/
	/*border: 3px solid rgb(255, 255, 255);/*调试用*/
	bottom: 0px;
	z-index: 100 !important;
	pointer-events: none;
}

.skill-control div {
	position: relative;
}

.skill-control .skillitem {
	float: right;
	white-space: nowrap;
	color: #F5D78E;
	text-shadow: #F5D78E 0 0 1px,
		black 0 0 2px,
		black 0 0 2px,
		black 0 0 2px,
		black 0 0 2px,
		black 0 0 2px,
		black 0 0 2px;
	font-size: 18px;
}

.skill-control>div {
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: row-reverse;
}

.skill-control>div::after {
	content: '';
	display: block;
	clear: both;
}

.skill-control>.enable {
	margin: 0 0 0 auto;
	bottom: 7px;
}

.skill-control>.enable>.skillitem {
	margin: -2px -4.2px;
	--w: 56px;
	pointer-events: auto;
	--h: calc(var(--w) * 91 / 200);
	width: var(--w);
	height: var(--h);
	line-height: 26px;
	text-align: center;
	font-family: 'yuanli';
	font-weight: 450;
	font-size: 15px;
	color: #F7F5E7;
	text-shadow:
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18;
	background-image: url("./images/btnn1_window.png");
	background-size: 100% 100%;
	/*border: 1px solid rgb(3,4,5);/*调试用*/
}

.skill-control>.enable>.xiandingji {
	/*限定技按钮*/
	margin: -2px -4.2px;
	--w: 56px;
	pointer-events: auto;
	--h: calc(var(--w) * 91 / 200);
	width: var(--w);
	height: var(--h);
	line-height: 26px;
	text-align: center;
	font-family: 'yuanli';
	font-weight: 450;
	font-size: 15px;
	color: #F7F5E7;
	text-shadow:
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18, 0.3px 0px 1.8px #332C18,
		0.3px 0px 1.8px #332C18;
	background-image: url("./images/btnn4_window.png");
	background-size: 100% 100%;
	/*border: 1px solid rgb(3,4,5);/*调试用*/
}

.skill-control>.enable>.skillitem.select {
	background-image: url("./images/btnn3_window.png");
}

.skill-control>.enable>.skillitem:not(.usable):not(.select) {
	/*技能按钮不可用时变灰*/
	filter: grayscale(50%);
	-webkit-filter: grayscale(90%);
	/*-webkit-filter: brightness(70%);*/
}

.skill-control>.enable>.xiandingji:not(.usable):not(.select) {
	/*限定技按钮不可用时变灰*/
	filter: grayscale(50%);
	-webkit-filter: grayscale(90%);
	/*-webkit-filter: brightness(70%);*/
}

.skill-control>.enable>.xiandingji.select {
	background-image: url("./images/btnn4_window.png");
}

.skill-control>.enable>.xiandingji:not(.usable):not(.select) {
	filter: grayscale(50%);
	-webkit-filter: grayscale(90%);
}

.skillMarks {
	max-height: 80px;
	overflow-y: auto;
	left: -14.5px !important;
	top: 96px !important;
	z-index: 89 !important;
	justify-content: center;
	align-items: center;
}

.skillMarks>.skillMarkItem {
	--h: 19px;
	width: 28.5px !important;
	height: 28.5px !important;
	right: 0px;
	line-height: -10px;
	text-align: center;
	display: block;
	position: relative;
	/* justify-content: center;
	align-items: center;
    letter-spacing: -1px;
    white-space: nowrap;*/
	border-radius: 50%;
}

.skillMarkItem.xiandingji {
	background-image: url("./images/xiandingji.png");
	background-size: 100% 100%;
	text-shadow: none;
	--w: 30px;
	--h: calc(var(--w) * 1/1);
	/*高和长*/
	width: var(--w);
	/*按比例调节*/
	height: var(--h);
	/*同理*/
}

.skillMarkItem.xiandingji.used {
	-webkit-filter: grayscale(1);
}

.skillMarkItem+.skillMarkItem {
	margin-top: -6.5px;
}

.skillMarkItem.juexingji {
	background-image: url("./images/juexingji.png");
	background-size: 100% 100%;
	text-shadow: none;
	--w: 30px;
	--h: calc(var(--w) * 1/1);
	/*高和长*/
	width: var(--w);
	/*按比例调节*/
	height: var(--h);
	/*同理*/
}


.skillMarkItem.zhuanhuanji {
	/*background-size: contain;*/
	--w: 30px;
	--h: calc(var(--w) * 1/1);
	/*高和长*/
	width: var(--w);
	/*按比例调节*/
	height: var(--h);
	/*同理*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transform-style: preserve-3d;
	transform: rotateY(360deg);
	background-image: url("./images/mark_yang.png");
}

.skillMarkItem.zhuanhuanji.yang {
	background-image: url("./images/mark_yang.png");
	/*transform:rotate(1turn);*/
	/*transform:  rotateY(360deg);*/
	animation: fanzhuan 1.5s;
}

.skillMarkItem.zhuanhuanji.yin {
	background-image: url("./images/mark_ying.png");
	/*transform:rotate(1turn);*/
	/*transform:  rotateY(360deg);*/
	animation: fanzhuan 1.5s;
}

@keyframes fanzhuan {
	0% {
		transform: rotateY(0deg) scale(1.2);
	}

	50% {
		transform: rotateY(180deg) scale(1.2);
	}

	100% {
		transform: rotateY(0deg) scale(1);
	}
}

@keyframes fanzhuanx {
	0% {
		transform: rotateY(0deg) scale(1.2);
	}

	50% {
		transform: rotateY(180deg) scale(1.2);
	}

	100% {
		transform: rotateY(0deg) scale(1);
	}
}


.skillMarkItem.duty {
	background-image: url("./images/mark_duty.png");
	background-size: contain;
	background-repeat: no-repeat;
	--w: 30px;
	--h: calc(var(--w) * 1/1);
	/*高和长*/
	width: var(--w);
	/*按比例调节*/
	height: var(--h);
	/*同理*/
}

.skillMarkItem.duty.fail {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
