.skill-control {
	/*技能按钮*/
	max-width: 200px;
	/*同列技能可容纳最大宽度，建议别调180*/
	bottom: 35px;
	/*整体上移，建议别调*/
	right: 163px;
	/*技能显示右移，越小越靠右，建议别调*/
	/*border: 3px solid rgb(255, 255, 255);/*调试用*/
	z-index: 6;
}

.skill-control div {
	position: relative;
	height: 40px;
	width: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skill-control .trigger,
.skill-control .enable {
	height: auto;
	width: auto;
	justify-content: right;
	/*自动向右对齐*/
}

.skill-control {
	float: right;
	white-space: nowrap;
	font-family: "HYZLSJ";
	color: yellow;
	text-shadow: #f5d78e 0 0 2px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px;
	font-size: 24px;
}

.skill-control>div {
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: row-reverse;
}

/*伪类*/
.skill-control>div::after {
	content: "";
	/*防止元素浮动*/
	display: block;
	clear: both;
}

.skill-control>.enable {
	margin: 0 0 0 auto;
	font-size: 20.5px;
	font-weight: 500;
	font-family: "HYZLSJ";
}

.skill-control>.trigger>* .skillitem-child {
	position: absolute;
	-webkit-text-stroke: 5.3px #102030;
	/*5.1px #40404096*/
	opacity: 0.5;
	z-index: -1;
}

.skill-control>.enable>* .skillitem-child {
	position: absolute;
	-webkit-text-stroke: 4.7px rgba(2, 3, 2);
	/*#575755;/*#686860;/*5.1px #40404096*/
	opacity: 0.35;
	z-index: -1;
}

.skill-control>.trigger>div {
	margin: -6px 6px;
	font-family: "HYZLSJ";
	text-align: center;
	-webkit-text-stroke: 0px rgba(38, 37, 34, 0.5);
	text-shadow: none;
	background-image: linear-gradient(180deg, #f0d775 30%, #ab8c31 57%, #b0a04d 67%);
	/*字体渐变色，色调*/
	font-weight: lighter;
	/*background-image: url("./images/底图.png");*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	font-size: 22px;
	width: auto;
}

.skill-control>.enable>* {
	/*-webkit-text-stroke: 0.8px rgba(38,37,34,0.5);
	text-shadow: none;*/
	background-size: 100% 100%;
	background-image: linear-gradient(180deg, #f0d775 30%, #ab8c31 57%, #b0a04d 67%);
	/*字体渐变色，色调*/
	/*background-image: url("./images/底图.png");*/
	-webkit-text-stroke: 0.2px #3e362a;
	text-shadow: none;
	/*background: linear-gradient(180deg, #fcfcbf 40%, #b58b59 50%);*/
	-webkit-text-fill-color: transparent;
	position: relative;
	font-size: 18px;
	white-space: nowrap;
	margin: 5px 12px;
	/*上下 左右间隔*/
	margin-top: 3px;
	/*width: auto;*/
	/*此数值控制技能按文本与按钮之间的关联性，但不美观。*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*---司马徽按钮分离--*/
.skill-control>.enable>.skillitem_smh_lianhuan::before {
	z-index: -1;
	content: "";
	text-align: center;
	display: block;
	position: absolute;
	margin: 1px 12px;
	width: 147%;
	height: 170%;

	font-family: "HanYiZhongLiShuFan", "HYZLSJ";
	background-image: url("./images/feng.png");
	background-size: 100% 100%;
}

.skill-control>.enable>*.select:not(.skillitem_smh_yeyan):not(.skillitem_smh_huoji)::before {
	background-image: url("./images/feng_selected.png");
}

.skill-control>.enable>.skillitem_smh_lianhuan:not(.usable):not(.select)::before {
	background-image: url("./images/feng_no.png");
}

/*司马徽火计*/
.skill-control>.enable>.skillitem_smh_huoji::before {
	z-index: -1;
	content: "";
	text-align: center;
	display: block;
	position: absolute;
	margin: 1px 12px;
	width: 147%;
	height: 170%;

	font-family: "HanYiZhongLiShuFan", "HYZLSJ";
	background-image: url("./images/long.png");
	background-size: 100% 100%;
}

.skill-control>.enable>*.select:not(.skillitem_smh_yeyan):not(.skillitem_smh_lianhuan)::before {
	background-image: url("./images/long_selected.png");
}

.skill-control>.enable>.skillitem_smh_huoji:not(.usable):not(.select)::before {
	background-image: url("./images/long_no.png");
}

/*司马徽业炎*/
.skill-control>.enable>.skillitem_smh_yeyan::before {
	z-index: -1;
	content: "";
	--w: auto;
	--h: calc(var(--w) * 1045 / 669);
	line-height: var(--h);
	text-align: center;
	display: block;
	position: absolute;
	margin: 1px 12px;
	width: 147%;
	height: 170%;
	font-family: "HanYiZhongLiShuFan", "HYZLSJ";
	background-image: url("./images/longfeng.png");
	background-size: 100% 100%;
}

.skill-control>.enable>*.select:not(.skillitem_smh_huoji):not(.skillitem_smh_lianhuan)::before {
	background-image: url("./images/longfeng_selected.png");
}

.skill-control>.enable>.skillitem_smh_yeyan:not(.usable):not(.select)::before {
	background-image: url("./images/longfeng_no.png");
}

/*-----*/

.skill-control>.enable>.skillitem::before {
	z-index: -1;
	content: "";
	--w: auto;
	--h: calc(var(--w) * 1045 / 669);
	line-height: var(--h);
	text-align: center;
	display: block;
	position: absolute;
	margin: 1px 12px;
	width: 147%;
	height: 170%;
	font-family: "HYZLSJ";
	background-image: url("./images/btn0.png");
	background-size: 100% 100%;
	/*border: 1px solid rgb(3,4,5);/*调试用*/
}

.skill-control>.enable>*.select:not(.skillitem_smh_yeyan):not(.skillitem_smh_huoji):not(.skillitem_smh_lianhuan)::before {
	background-image: url("./images/btn1.png");
	/*filter: grayscale(100%);
	-webkit-filter: grayscale(100%);*/
}

.skill-control>.enable>.skillitem:not(.usable):not(.select)::before {
	background-image: url("./images/btn2.png");
	/*filter: grayscale(100%);
	-webkit-filter: grayscale(100%);*/
}

.skillMarks {
	max-height: 80px;
	overflow-y: auto;
	right: -13px;
	top: 26px;
	z-index: 89 !important;
	justify-content: center;
	align-items: center;
}

.skillMarks>.skillMarkItem {
	--h: 19px;
	width: 34px;
	height: 20px;
	right: 0px;
	line-height: 22px;
	text-align: center;
	display: block;
	position: relative;
	justify-content: center;
	align-items: center;
	letter-spacing: -1px;
	white-space: nowrap;
	border-radius: 50%;
	font-family: "HYZLSJ";
	font-size: 15.5px;
}

.skillMarkItem.xiandingji {
	/* background-image: linear-gradient(#c5870a 31%, #4a2a00 86%, #1b0b05 95%);
	box-shadow: 0px -2px 3px #5a4a31  , 0px 2px 3px #5a4a31  ,2px 0px 3px #5a4a31  , -2px 0px 3px #5a4a31  ,0px 2px 3px #f9ec39 inset , -1.5px 0px 3px #f9ec39 inset;*/
	background-image: url("./images/xianding.png");
	background-size: 100% 100%;
	text-shadow: none;
	font-family: "HYZLSJ";
	font-weight: 500;
	/*字体加粗*/
	text-shadow: 0px 0px 1px #b80b0b, 0px 0px 1px #b80b0b, 0px 0px 1px #b80b0b, 0px 0px 1px #b80b0b, 0px 0px 1px #b80b0b, 0px 0px 1px #b80b0b, 0px 0px 1px #b80b0b, 0px 0px 1px #b80b0b, 0px 0px 1px #b80b0b;
	--w: 45px;
	font-size: 16px;
	--h: calc(var(--w) * 90 / 165);
	/*高和长*/
	width: var(--w);
	/*按比例调节*/
	height: var(--h);
	/*同理*/
}

/*转换技*/
.skillMarkItem.zhuanhuanji {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-shadow: 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c, 0 0 1.3px #3c3c3c;
	--w: 45px;
	font-size: 13px;
	font-family: "FZLBJW";
	font-weight: bold;
	--h: calc(var(--w) * 85 / 165);
	/*高和长*/
	width: var(--w);
	/*按比例调节*/
	height: var(--h);
	/*同理*/
}

.skillMarkItem.xiandingji.used {
	position: relative;

	--w: 45px;
	--h: calc(var(--w) * 85 / 165);
	/*高和长*/
	width: var(--w);
	/*按比例调节*/
	height: var(--h);
	/*同理*/
	background-image: url("./images/used.png");
	background-size: 100% 100%;
	text-shadow: 0 0 1.2px #404040, 0 0 1.2px #404040, 0 0 1.2px #404040, 0 0 1.2px #404040, 0 0 1.2px #404040, 0 0 1.2px #404040, 0 0 1.2px #404040, 0 0 1.2px #404040, 0 0 1.2px #404040;
	font-family: "HYZLSJ";
	font-weight: 500;
	/*字体加粗*/
	font-size: 16px;
}

.skillMarkItem.xiandingji.used::before {
	content: "";
	z-index: 100;
	display: block;
	position: absolute;
	--w: 35.5px;
	--h: calc(var(--w) * 36 / 56);
	/*高和长*/
	width: var(--w);
	/*按比例调节*/
	height: var(--h);
	/*同理*/
	background-image: url("./images/noxianding.png");
	background-size: 100% 100%;
	right: -2px;
	top: -0.4px;
	pointer-events: none;
}

.skillMarkItem.juexingji {
	/*background-image: linear-gradient(to bottom right, #437cbe 27%, #5183bc 50%, #012a3a 68%);
	box-shadow: 0px -2px 3px #5a4a31  , 0px 2px 3px #5a4a31  ,2px 0px 3px #5a4a31  ,2px 0px 3px #5a4a31, 0.6px 0.6px 1.5px #a1fafa inset, 0.3px -0.5px 1px #a1fafa inset , 1px 1px 1.5px #a1fafa inset;*/
	background-image: url("./images/juexing.png");
	background-size: 100% 100%;
	width: 43px;
	height: 24px !important;
	font-size: 16px;
	text-shadow: none;
	font-family: "HYZLSJ";
	font-weight: 500;
	/*字体加粗*/
	text-shadow: 0 0 1.2px #483d8b, 0 0 1.2px #483d8b, 0 0 1.2px #483d8b, 0 0 1.2px #483d8b, 0 0 1.2px #483d8b, 0 0 1.2px #483d8b, 0 0 1.2px #483d8b, 0 0 1.2px #483d8b, 0 0 1.2px #483d8b;
}

.skillMarkItem.duty {
	/*background-image: linear-gradient(to bottom right, #437cbe 27%, #5183bc 50%, #012a3a 68%);
	box-shadow: 0px -2px 3px #5a4a31  , 0px 2px 3px #5a4a31  ,2px 0px 3px #5a4a31  ,2px 0px 3px #5a4a31, 0.6px 0.6px 1.5px #a1fafa inset, 0.3px -0.5px 1px #a1fafa inset , 1px 1px 1.5px #a1fafa inset;*/
	background-image: url("./images/duty.png");
	background-size: 100% 100%;
	width: 43px;
	height: 24px !important;
	font-size: 16px;
	text-shadow: none;
	font-family: "HYZLSJ";
	font-weight: 500;
	/*字体加粗*/
	text-shadow: 0 0 1.2px #dc143c, 0 0 1.2px #dc143c, 0 0 1.2px #dc143c, 0 0 1.2px #dc143c, 0 0 1.2px #dc143c, 0 0 1.2px #dc143c, 0 0 1.2px #dc143c, 0 0 1.2px #dc143c, 0 0 1.2px #dc143c;
}

.skillMarkItem.duty.fail {
	position: relative;

	--w: 45px;
	--h: calc(var(--w) * 85 / 165);
	/*高和长*/
	width: var(--w);
	/*按比例调节*/
	height: var(--h);
	/*同理*/
	background-image: url("./images/used.png");
	background-size: 100% 100%;
	-webkit-filter: brightness(25%);
	font-family: "HYZLSJ";
	font-size: 16px;
	font-weight: 500;
	/*字体加粗*/
	text-shadow: 0 0 1.2px #404040, 0 0 1.2px #404040, 0 0 1.2px #404040, 0 0 1.2px #404040, 0 0 1.2px #404040, 0 0 1.2px #404040, 0 0 1.2px #404040, 0 0 1.2px #404040, 0 0 1.2px #404040;
}

.skillMarkItem.duty.fail::before {
	content: "";
	z-index: 100;
	display: block;
	position: absolute;
	--w: 45.5px;
	--h: calc(var(--w) * 36 / 56);
	/*高和长*/
	width: var(--w);
	/*按比例调节*/
	height: var(--h);
	/*同理*/
	background-image: url("./images/noxianding.png");
	background-size: 100% 100%;
	right: -2px;
	top: -4.4px;
	pointer-events: none;
}

.skillMarkItem+.skillMarkItem {
	margin-top: 3.5px;
}

/*技能失效*/
.skillitem .suo {
	height: 30px;
	width: 30px;
	background-image: url("./images/suo.png");
	background-size: 100% 100%;
	position: absolute;
	left: 20px;
	z-index: 6;
}

.skillitem .suo1 {
	height: 35px;
	width: 35px;
	background-image: url("./images/suo.png");
	background-size: 100% 100%;
	position: absolute;
	left: 20px;
	z-index: 6;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	/*按钮变灰*/
}

.skillitem .yang {
	/*	height: 80px;*/
	width: 90px;
	background-image: url("./images/yang.png");
	background-size: 100% 100%;
	position: absolute;
	/*left: 20px;*/
	z-index: 6;
}

.skillitem .ying {
	/*	height: 80px;*/
	width: 90px;
	background-image: url("./images/ying.png");
	background-size: 100% 100%;
	position: absolute;
	/*left: 20px;*/
	z-index: 6;
}

.trigger .yang {
	height: 20px;
	width: 60px;
	background-image: url("./images/Tyang.png");
	background-size: 100% 100%;
	position: absolute;
	left: -10px;
	z-index: -1;
}

.trigger .ying {
	height: 20px;
	width: 60px;
	background-image: url("./images/Tying.png");
	background-size: 100% 100%;
	position: absolute;
	left: -10px;
	z-index: -1;
}

.trigger .suo1 {
	height: 35px;
	width: 35px;
	background-image: url("./images/suo.png");
	background-size: 100% 100%;
	position: absolute;
	left: 7px;
	z-index: 6;
	bottom: 5.5px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	/*按钮变灰*/
}

.skill-control>.enable>.skillitem_smh_huoji>.numText {
	font-size: 16px;
	right: 3px;
	top: 5px;
	font-family: "HYZLSJ";
	text-align: center;
	-webkit-text-stroke: 0px rgba(38, 37, 34, 0.5);
	text-shadow: none;
	background-image: linear-gradient(180deg, #f0d775 30%, #ab8c31 57%, #b0a04d 67%);
	font-weight: bold;
	/*background-image: url("./images/底图.png");*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	position: absolute;
}

/* 技能剩余次数 */
.skill-control>.enable>.skillitem>.numText {
	font-size: 16px;
	right: 3px;
	top: 5px;
	font-family: "HYZLSJ";
	text-align: center;
	-webkit-text-stroke: 0px rgba(38, 37, 34, 0.5);
	text-shadow: none;
	background-image: linear-gradient(180deg, #f0d775 30%, #ab8c31 57%, #b0a04d 67%);
	font-weight: bold;
	/*background-image: url("./images/底图.png");*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	position: absolute;
}

.skill-control>.trigger>.skillitem>.numText {
	font-size: 16px;
	right: -9px;
	top: 5px;
	font-family: "HYZLSJ";
	text-align: center;
	-webkit-text-stroke: 0px rgba(38, 37, 34, 0.5);
	text-shadow: none;
	background-image: linear-gradient(180deg, #f0d775 30%, #ab8c31 57%, #b0a04d 67%);
	font-weight: bold;
	/*background-image: url("./images/底图.png");*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	position: absolute;
}

.skill-control>.enable>.skillitemxianding>.numText {
	font-size: 16px;
	right: 3px;
	top: 5px;
	font-family: "HYZLSJ";
	text-align: center;
	-webkit-text-stroke: 0px rgba(38, 37, 34, 0.5);
	text-shadow: none;
	background-image: linear-gradient(180deg, #f0d775 30%, #ab8c31 57%, #b0a04d 67%);
	font-weight: bold;
	/*background-image: url("./images/底图.png");*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	position: absolute;
}

.skill-control>.trigger>.skillitemxianding>.numText {
	font-size: 16px;
	right: -9px;
	top: 5px;
	font-family: "HYZLSJ";
	text-align: center;
	-webkit-text-stroke: 0px rgba(38, 37, 34, 0.5);
	text-shadow: none;
	background-image: linear-gradient(180deg, #f0d775 30%, #ab8c31 57%, #b0a04d 67%);
	font-weight: bold;
	/*background-image: url("./images/底图.png");*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	position: absolute;
}

.skill-control>.enable>.skillitem>.numText-child {
	font-size: 16px;
	right: 3px;
	top: 5px;
	font-family: "HYZLSJ";
	text-align: center;
	-webkit-text-stroke: 2.7px #102030;
	/*5.1px #40404096*/
	opacity: 0.5;
	z-index: -1;
	text-shadow: none;
	font-weight: bold;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	position: absolute;
}

.skill-control>.enable>.skillitem_smh_huoji>.numText-child {
	font-size: 16px;
	right: 3px;
	top: 5px;
	font-family: "HYZLSJ";
	text-align: center;
	-webkit-text-stroke: 2.7px #102030;
	/*5.1px #40404096*/
	opacity: 0.5;
	z-index: -1;
	text-shadow: none;
	font-weight: bold;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	position: absolute;
}

.skill-control>.trigger>.skillitem>.numText-child {
	font-size: 16px;
	right: 3px;
	top: 5px;
	font-family: "HYZLSJ";
	text-align: center;
	-webkit-text-stroke: 2.7px #102030;
	/*5.1px #40404096*/
	opacity: 0.5;
	z-index: -1;
	text-shadow: none;
	font-weight: bold;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	position: absolute;
}

.skill-control>.enable>.skillitemxianding>.numText-child {
	font-size: 16px;
	right: 3px;
	top: 5px;
	font-family: "HYZLSJ";
	text-align: center;
	-webkit-text-stroke: 2.7px #102030;
	/*5.1px #40404096*/
	opacity: 0.5;
	z-index: -1;
	text-shadow: none;
	font-weight: bold;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	position: absolute;
}

.skill-control>.trigger>.skillitemxianding>.numText-child {
	font-size: 16px;
	right: 3px;
	top: 5px;
	font-family: "HYZLSJ";
	text-align: center;
	-webkit-text-stroke: 2.7px #102030;
	/*5.1px #40404096*/
	opacity: 0.5;
	z-index: -1;
	text-shadow: none;
	font-weight: bold;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	position: absolute;
}

/*以下左手布局*/
.skill-controlzuoshou {
	/*技能按钮*/
	max-width: 120px;
	/*同列技能可容纳最大宽度，建议别调180*/
	bottom: 30px;
	/*整体上移，建议别调*/
	left: 165px;
	/*技能显示右移，越小越靠右，建议别调*/
	/*border: 3px solid rgb(255, 255, 255);/*调试用*/
	z-index: 5;
}

.skill-controlzuoshou div {
	position: relative;
	height: 40px;
	width: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skill-controlzuoshou .trigger,
.skill-controlzuoshou .enable {
	height: auto;
	width: auto;
	justify-content: left;
	/*自动向右对齐*/
}

.skill-controlzuoshou {
	float: right;
	white-space: nowrap;
	font-family: "HYZLSJ";
	color: yellow;
	text-shadow: #f5d78e 0 0 2px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px;
	font-size: 24px;
	/*字体渐变色，色调*/
}

.skill-controlzuoshou>div {
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: row-reverse;
}

/*伪类*/
.skill-controlzuoshou>div::after {
	content: "";
	/*防止元素浮动*/
	display: block;
	clear: both;
}

.skill-controlzuoshou>.enable {
	margin: 0 0 0 auto;
	max-width: 120px;
	/*给有三个主动技的武将限制宽度以免遮挡手牌区*/
	font-size: 20.5px;
	font-weight: bold;
	font-family: "HYZLSJ";
}

.skill-controlzuoshou>.trigger>* .skillitem-child {
	position: absolute;
	-webkit-text-stroke: 4.3px #102030;
	/*5.1px #40404096*/
	opacity: 0.5;
	z-index: -1;
}

.skill-controlzuoshou>.enable>* .skillitem-child {
	position: absolute;
	-webkit-text-stroke: 4.3px rgba(2, 3, 2);
	/*#575755;/*#686860;/*5.1px #40404096*/
	opacity: 0.35;
	z-index: -1;
}

.skill-controlzuoshou>.trigger>div {
	margin: -6px 2px;
	font-family: "HYZLSJ";
	text-align: center;
	-webkit-text-stroke: 0px rgba(38, 37, 34, 0.5);
	text-shadow: none;
	background-image: linear-gradient(180deg, #f0d775 30%, #ab8c31 57%, #b0a04d 67%);
	/*字体渐变色，色调*/
	font-weight: lighter;
	/*background-image: url("./images/底图.png");*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	font-size: 22px;
	width: auto;
}

.skill-controlzuoshou>.enable>* {
	/*-webkit-text-stroke: 0.8px rgba(38,37,34,0.5);
	text-shadow: none;*/
	background-size: 100% 100%;
	background-image: linear-gradient(180deg, #f0d775 30%, #ab8c31 57%, #b0a04d 67%);
	/*字体渐变色，色调*/
	/*background-image: url("./images/底图.png");*/
	-webkit-text-stroke: 0.5px #3e362a;
	text-shadow: none;
	/*background: linear-gradient(180deg, #fcfcbf 40%, #b58b59 50%);*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	font-size: 22px;
	white-space: nowrap;
	margin: 1px 9px;
	/*上下 左右间隔*/
	margin-top: 3px;
	/*width: auto;*/
	/*此数值控制技能按文本与按钮之间的关联性，但不美观。*/
	index: 4;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*---司马徽按钮分离--*/
.skill-controlzuoshou>.enable>.skillitem_smh_lianhuan::before {
	z-index: -1;
	content: "";
	text-align: center;
	display: block;
	position: absolute;
	margin: 1px 12px;
	width: 147%;
	height: 170%;

	font-family: "HanYiZhongLiShuFan", "HYZLSJ";
	background-image: url("./images/feng.png");
	background-size: 100% 100%;
}

.skill-controlzuoshou>.enable>*.select:not(.skillitem_smh_yeyan):not(.skillitem_smh_huoji)::before {
	background-image: url("./images/feng_selected.png");
}

.skill-controlzuoshou>.enable>.skillitem_smh_lianhuan:not(.usable):not(.select)::before {
	background-image: url("./images/feng_no.png");
}

/*司马徽火计*/
.skill-controlzuoshou>.enable>.skillitem_smh_huoji::before {
	z-index: -1;
	content: "";
	text-align: center;
	display: block;
	position: absolute;
	margin: 1px 12px;
	width: 147%;
	height: 170%;

	font-family: "HanYiZhongLiShuFan", "HYZLSJ";
	background-image: url("./images/long.png");
	background-size: 100% 100%;
}

.skill-controlzuoshou>.enable>*.select:not(.skillitem_smh_yeyan):not(.skillitem_smh_lianhuan)::before {
	background-image: url("./images/long_selected.png");
}

.skill-controlzuoshou>.enable>.skillitem_smh_huoji:not(.usable):not(.select)::before {
	background-image: url("./images/long_no.png");
}

/*司马徽业炎*/
.skill-controlzuoshou>.enable>.skillitem_smh_yeyan::before {
	z-index: -1;
	content: "";
	--w: auto;
	--h: calc(var(--w) * 1045 / 669);
	line-height: var(--h);
	text-align: center;
	display: block;
	position: absolute;
	margin: 1px 12px;
	width: 147%;
	height: 170%;
	font-family: "HanYiZhongLiShuFan", "HYZLSJ";
	background-image: url("./images/longfeng.png");
	background-size: 100% 100%;
}

.skill-controlzuoshou>.enable>*.select:not(.skillitem_smh_huoji):not(.skillitem_smh_lianhuan)::before {
	background-image: url("./images/longfeng_selected.png");
}

.skill-controlzuoshou>.enable>.skillitem_smh_yeyan:not(.usable):not(.select)::before {
	background-image: url("./images/longfeng_no.png");
}

/*-----*/

.skill-controlzuoshou>.enable>.skillitem::before {
	z-index: -1;
	content: "";
	--w: auto;
	--h: calc(var(--w) * 1045 / 669);
	line-height: var(--h);
	text-align: center;
	display: block;
	position: absolute;
	margin: 1px 12px;
	width: 147%;
	height: 170%;
	font-family: "HYZLSJ";
	background-image: url("./images/btn0.png");
	background-size: 100% 100%;
	/*border: 1px solid rgb(3,4,5);/*调试用*/
}

.skill-controlzuoshou>.enable>*.select:not(.skillitem_smh_yeyan):not(.skillitem_smh_huoji):not(.skillitem_smh_lianhuan)::before {
	background-image: url("./images/btn1.png");
	/*filter: grayscale(100%);
	-webkit-filter: grayscale(100%);*/
}

.skill-controlzuoshou>.enable>.skillitem:not(.usable):not(.select)::before {
	background-image: url("./images/btn2.png");
	/*filter: grayscale(100%);
	-webkit-filter: grayscale(100%);*/
}