.lbtn-controls {
	/*牌序，记录按钮*/
	--width: 80px; /*按钮宽度*/
	--height: 58.6px; /*按钮高度*/
	left: 0; /*左边距，越大越靠右*/
	bottom: 15%; /*整体上移*/
	z-index: 3;
}
#arena:not(.single-handcard):not(.chess).cxy-new-ui > .lbtn-controls ~ #mebg,
#arena:not(.single-handcard):not(.chess).cxy-new-ui > .lbtn-controls ~ #me {
	left: 40px !important;
}
.lbtn-controls ~ #me #handcards1 {
	--lessw: 40px;
}

.lbtn-controls > div {
	display: block;
	position: relative;
}
/*二级菜单页面*/
.HOME {
	--w: 69px;
	--h: calc(var(--w) * 446 / 81); /*高和长*/
	width: var(--w);
	height: var(--h);
	top: 0%;
	left: calc(100% - 119px);
	background-size: 100% 100%;
	background-image: url("./images/CD/HOME.png");
	z-index: 68;
	position: relative;
	transition: all 1s;
}

/*设置*/
.SZ {
	--w: 56px;
	--h: calc(var(--w) * 73 / 71);
	width: var(--w);
	height: var(--h);
	bottom: calc(100% - 373px);
	left: calc(100% - 112.5px);
	background-size: 100% 100%;
	background-image: url("./images/CD/SZ.png");
	z-index: 99;
	position: fixed;
}

/*离开*/
.LK {
	--w: 56px;
	--h: calc(var(--w) * 73 / 71);
	width: var(--w);
	height: var(--h);
	bottom: calc(100% - 248px);
	left: calc(100% - 112.5px);
	background-size: 100% 100%;
	background-image: url("./images/CD/LK.png");
	z-index: 99;
	position: fixed;
}

/*背景*/
.BJ {
	--w: 56px;
	--h: calc(var(--w) * 73 / 71);
	width: var(--w);
	height: var(--h);
	bottom: calc(100% - 310px);
	left: calc(100% - 112.5px);
	background-size: 100% 100%;
	background-image: url("./images/CD/BJ.png");
	z-index: 99;
	position: fixed;
}

/*投降*/
.TX {
	--w: 56px;
	--h: calc(var(--w) * 73 / 71);
	width: var(--w);
	height: var(--h);
	bottom: calc(100% - 187px);
	left: calc(100% - 112.5px);
	background-size: 100% 100%;
	background-image: url("./images/CD/TX.png");
	z-index: 99;
	position: fixed;
}

/*托管*/
.TG {
	--w: 56px;
	--h: calc(var(--w) * 74 / 71);
	width: var(--w);
	height: var(--h);
	bottom: calc(100% - 126px);
	left: calc(100% - 112.5px);
	background-size: 100% 100%;
	background-image: url("./images/CD/TG.png");
	z-index: 99;
	position: fixed;
}

/*---------新版小配件--------*/
.jiluButton_new {
	display: block;
	--w: 53px;
	--h: 53px;
	width: var(--w);
	height: var(--h);
	position: absolute;
	bottom: 1.5%;
	left: 3%;
	background-image: url("./images/uibutton/new_jilu_new.png");
	background-size: 100% 100%;
	border-radius: 1px;
	z-index: 4;
	margin-left: 10px;
}

.huanfuButton_new {
	display: block;
	--w: 53px;
	--h: 53px;
	width: var(--w);
	height: var(--h);
	position: absolute;
	bottom: 24.5%;
	left: 3%;
	background-image: url("./images/uibutton/new_huanfu_new.png");
	background-size: 100% 100%;
	z-index: 3;
	margin-left: 10px;
}

.xiaolianButton_new {
	display: block;
	--w: 53px;
	--h: 53px;
	width: var(--w);
	height: var(--h);
	position: absolute;
	bottom: 13.5%;
	left: 3%;
	background-image: url("./images/uibutton/new_xiaolian_new.png");
	background-size: 100% 100%;
	z-index: 3;
	margin-left: 10px;
}

/*-----------------------------*/

.lbtn-confirm:not(.closing).removing {
	opacity: 1 !important;
}
.control {
	--height: 32px;
	width: auto !important;
	background: transparent;
	box-shadow: none;
	line-height: normal;
	padding: 0;
}

.control > div {
	/*选将按钮，提示之类*/
	/*height: var(--h) !important;
	width: calc(var(--h)*90/32) !important;*/
	background-image: url("./images/uibutton/new_btnn2.png");
	background-size: 100% 100%;
	line-height: var(--h);
	padding: 2.6px 25px !important; /*按钮高度+宽度 (前置定位条件:字体大小) 建议别调1  10*/
	min-width: 100px !important; /*限制最小宽度100*/
	max-height: 50px !important; /*限制最大高度35*/
	text-align: center;
	margin-top: 0px !important;
	margin-bottom: -15px !important;
	color: #2f4f4f;
	-webkit-text-stroke: 0.4px #803b02;
	font-family: "yuanli";
	text-shadow: 0 0 2px #ffffd5, 0 0 2px #ffffd5;
	/*text-shadow: #F5D78E 1px 1px 1px,
			#F5D78E 1px -1px 1px,
			#F5D78E -1px 1px 1px,
			#F5D78E -1px -1px 1px;*/
	font-size: 25px;
}

/*无懈按钮位置*/
#arena > #dui-controls > .control.stayleft {
	left: calc(50% - 420px) !important;
	margin-bottom: 5px !important;
	order: 3;
}

.control > div.primary2 {
	/*(取消/结束)按钮*/
	/*width: 100px;
	--p: calc(var(--h) * 11 / 75);*/
	color: rgb(250, 250, 200);
	/*margin-left: 50px;*/
	bottom: 1.8px;
	color: #2f4f4f;
	-webkit-text-stroke: 0.4px #803b02;
	text-shadow: 0 0 2px #ffffd5, 0 0 2px #ffffd5;
	/*text-shadow: #AB9372 1px 1px 1px,
			#AB9372 1px -1px 1px,
			#AB9372 -1px 1px 1px,
			#AB9372 -1px -1px 1px;*/
	font-size: 25px; /*字体大小*/
	line-height: 35px; /*建议别调*/
	padding: 2.6px 25px !important; /*按钮高度+宽度 (前置定位条件:字体大小) 建议别调1  10*/
	margin-left: 55px !important;
	margin-right: 0px !important;
	margin-top: 0px !important;
	margin-bottom: -15px !important;
	background-size: 100% 100%;
	background-image: url("./images/uibutton/new_btnn.png");
	overflow: visible;
	transition: none;
}
.control > div.primary {
	/*确认按钮*/
	/*width: 100px;
	--p: calc(var(--h) * 11 / 75);*/
	/*color: rgb(250, 250, 200);*/
	color: #2f4f4f;
	-webkit-text-stroke: 0.4px #803b02;
	text-shadow: 0 0 2px #ffffd5, 0 0 2px #ffffd5;
	/*text-shadow: #F5D78E 1px 1px 1px,
			#F5D78E 1px -1px 1px,
			#F5D78E -1px 1px 1px,
			#F5D78E -1px -1px 1px;*/
	font-size: 25px; /*字体大小*/
	line-height: 35px; /*建议别调*/
	padding: 2.6px 25px !important; /*按钮高度+宽度 (前置定位条件:字体大小) 建议别调0 10*/
	/*margin: 0px 55px !important;*/
	margin-left: 10px !important;
	margin-right: 10px !important;
	margin-top: 0px !important;
	margin-bottom: -15px !important;
	background-size: 100% 100%;
	background-image: url("./images/uibutton/new_btnn2.png");
}

.control > div.disabled:not([data-type="endButton"]) {
	background-size: 100% 100%;
}

.control > div.disabled:not([data-type="endButton"]) {
	/*-webkit-filter: grayscale(100%);*/
	-webkit-filter: brightness(70%);
}

.lbtn-confirm[data-skill] > [data-type="skill2"] {
	display: none;
}

/*------有点懒具体看main1.css---------------*/
.handcardNumber {
	bottom: 0px;
	right: 230px;
	font-family: "yuanli";
	text-shadow: #f5d78e 0 0 1px, black 0 0 2px, black 0 0 2px, black 0 0 2px, black 0 0 2px, black 0 0 2px, black 0 0 2px;
	color: #f5d78e;
	z-index: 1;
}

.handcardNumber > .cardPicture {
	left: 90px;
	bottom: -6px;
	--w: 130px;
	--h: calc(var(--w) * 92 / 400); /*宽和长*/
	width: var(--w);
	height: var(--h);
	background-image: url("./images/uibutton/new_count1.png");
	background-size: 100% 100%;
	position: relative;
	z-index: -1;
}
/*手牌数参数*/
.handcardNumber > .cardNumber {
	left: 138px;
	bottom: 15px;
	height: 8px;
	line-height: 25px;
	text-align: center;
	color: #fffcf5;
	font-size: 20px;
	white-space: nowrap;
	letter-spacing: 0.35px; /*字体间距*/
}

.cardRoundNumber {
	top: 16px;
	left: 25px;
	font-weight: 400;
	font-family: "yuanli";
	text-shadow: #b4a993 0.2px 0.2px 0.2px, #b4a993 0.2px -0.2px 0.2px, #b4a993 -0.2px 0.2px 0.2px, #b4a993 -0.2px -0.2px 0.2px;
}

.cardRoundNumber > .cardPileNumber {
	left: 20px;
	top: -15px;
	--w: 65px;
	--h: calc(var(--w) * 173 / 127);
	width: var(--w);
	height: var(--h);
	background-image: url("./images/uibutton/new_cardback3.png");
	background-size: 100% 100%;
	background-color: transparent;
	position: relative;
	z-index: 2;
}
.cardRoundNumber > .cardPileNumber > span {
	left: 12px; /*牌堆数右移，越大越靠右*/
	top: 6px;
	width: 100%;
	display: block;
	position: absolute;
	line-height: 20px;
	text-align: center;
	color: #cda448;
	font-size: 18px;
}
.cardRoundNumber > .roundNumber,
.cardRoundNumber > .time {
	/*游戏时间*/
	left: 32px; /*牌堆数/时间右移，越大越靠右*/
	top: 24px;
	height: 20px;
	line-height: 16px; /*游戏轮数/时间间隔*/
	white-space: nowrap;
	color: #fae2bc;
	z-index: 3;
}
.cardRoundNumber > .time {
	/*游戏时间*/
	top: 48px; /*高度*/
	left: 34px;
	font-size: 17px;
	color: #e0c192;
}

/*托管中图片（）*/

#autonode > div:last-child {
	z-index: 10;
	margin-bottom: -75px !important;
	left: calc(50% - 440px);
	font-size: 0px;
	text-shadow: none;
	--w: 400px;
	--h: calc(var(--w) * 149 / 598); /*高和长*/
	width: var(--w); /*按比例调节*/
	height: var(--h); /*同理*/
	/*display: table;*/
	background-image: url("./images/CD/tuoguan2.png");
	background-size: 100% 100%;
	-webkit-text-fill-color: transparent;
	text-shadow: none !important;
}

/*身份任务主公*/
.Tipzhugong {
	position: fixed;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("./images/SFTS/Tipzhugong.png") !important;
	background-size: 100% 100%;
	--w: 269px;
	--h: calc(var(--w) * 214 / 600); /*高和长*/
	width: var(--w);
	height: var(--h);
	left: calc(100% - 400.5px);
	bottom: calc(100% - 145px);
}
/*身份任务忠臣*/
.Tipzhongchen {
	position: fixed;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("./images/SFTS/Tipzhongchen.png") !important;
	background-size: 100% 100%;
	--w: 269px;
	--h: calc(var(--w) * 214 / 600); /*高和长*/
	width: var(--w);
	height: var(--h);
	left: calc(100% - 400.5px);
	bottom: calc(100% - 145px);
}
/*身份任务反贼*/
.Tipfanzei {
	position: fixed;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("./images/SFTS/Tipfanzei.png") !important;
	background-size: 100% 100%;
	--w: 269px;
	--h: calc(var(--w) * 214 / 600); /*高和长*/
	width: var(--w);
	height: var(--h);
	left: calc(100% - 400.5px);
	bottom: calc(100% - 145px);
}
/*身份任务内奸*/
.Tipneijian {
	position: fixed;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("./images/SFTS/Tipneijian.png") !important;
	background-size: 100% 100%;
	--w: 269px;
	--h: calc(var(--w) * 214 / 600); /*高和长*/
	width: var(--w);
	height: var(--h);
	left: calc(100% - 400.5px);
	bottom: calc(100% - 145px);
}
/*身份任务地主*/
.Tipdizhu {
	position: fixed;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("./images/SFTS/Tipdizhu.png") !important;
	background-size: 100% 100%;
	--w: 269px;
	--h: calc(var(--w) * 214 / 600); /*高和长*/
	width: var(--w);
	height: var(--h);
	left: calc(100% - 400.5px);
	bottom: calc(100% - 145px);
}
/*身份任务农民*/
.Tipnongmin {
	position: fixed;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("./images/SFTS/Tipnongmin.png") !important;
	background-size: 100% 100%;
	--w: 269px;
	--h: calc(var(--w) * 214 / 600); /*高和长*/
	width: var(--w);
	height: var(--h);
	left: calc(100% - 400.5px);
	bottom: calc(100% - 145px);
}
/*身份任务虎队*/
.Tiphu {
	position: fixed;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("./images/SFTS/hu.png") !important;
	background-size: 100% 100%;
	--w: 269px;
	--h: calc(var(--w) * 214 / 600); /*高和长*/
	width: var(--w);
	height: var(--h);
	left: calc(100% - 400.5px);
	bottom: calc(100% - 145px);
}
/*身份任务魏国*/
.Tipweiguo {
	position: fixed;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("./images/SFTS/Tipweiguo.png") !important;
	background-size: 100% 100%;
	--w: 269px;
	--h: calc(var(--w) * 214 / 600); /*高和长*/
	width: var(--w);
	height: var(--h);
	left: calc(100% - 400.5px);
	bottom: calc(100% - 145px);
}
/*身份任务蜀国*/
.Tipshuguo {
	position: fixed;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("./images/SFTS/Tipshuguo.png") !important;
	background-size: 100% 100%;
	--w: 269px;
	--h: calc(var(--w) * 214 / 600); /*高和长*/
	width: var(--w);
	height: var(--h);
	left: calc(100% - 400.5px);
	bottom: calc(100% - 145px);
}
/*身份任务吴国*/
.Tipwuguo {
	position: fixed;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("./images/SFTS/Tipwuguo.png") !important;
	background-size: 100% 100%;
	--w: 269px;
	--h: calc(var(--w) * 214 / 600); /*高和长*/
	width: var(--w);
	height: var(--h);
	left: calc(100% - 400.5px);
	bottom: calc(100% - 145px);
}
/*身份任务晋国*/
.Tipjinguo {
	position: fixed;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("./images/SFTS/Tipjinguo.png") !important;
	background-size: 100% 100%;
	--w: 269px;
	--h: calc(var(--w) * 214 / 600); /*高和长*/
	width: var(--w);
	height: var(--h);
	left: calc(100% - 400.5px);
	bottom: calc(100% - 145px);
}
/*身份任务野心家*/
.Tipyexinjia {
	position: fixed;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("./images/SFTS/Tipye.png") !important;
	background-size: 100% 100%;
	--w: 269px;
	--h: calc(var(--w) * 214 / 600); /*高和长*/
	width: var(--w);
	height: var(--h);
	left: calc(100% - 400.5px);
	bottom: calc(100% - 145px);
}
/*身份任务群雄*/
.Tipqunxiong {
	position: fixed;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("./images/SFTS/Tipqunxiong.png") !important;
	background-size: 100% 100%;
	--w: 269px;
	--h: calc(var(--w) * 214 / 600); /*高和长*/
	width: var(--w);
	height: var(--h);
	left: calc(100% - 400.5px);
	bottom: calc(100% - 145px);
}
/*身份任务未选择*/
.Tipundefined {
	position: fixed;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("./images/SFTS/Tipyinbi.png") !important;
	background-size: 100% 100%;
	--w: 269px;
	--h: calc(var(--w) * 214 / 600); /*高和长*/
	width: var(--w);
	height: var(--h);
	left: calc(100% - 400.5px);
	bottom: calc(100% - 145px);
}

/*容错选项*/
.Tipweizhi {
	position: fixed;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("./images/SFTS/Tipweizhi.png") !important;
	background-size: 100% 100%;
	--w: 269px;
	--h: calc(var(--w) * 214 / 600); /*高和长*/
	width: var(--w);
	height: var(--h);
	left: calc(100% - 400.5px);
	bottom: calc(100% - 145px);
}

/*左手模式*/
/*换肤*/
.huanfuButton_new1 {
	display: block;
	--w: 47px;
	--h: 47px;
	width: var(--w);
	height: var(--h);
	bottom: 24%;
	position: absolute;
	right: 0;
	background-image: url("./images/uibutton/new_huanfu_new.png");
	background-size: 100% 100%;
	border-radius: 1px;
	z-index: 3;
}

.jiluButton_new1 {
	display: block;
	--w: 47px;
	--h: 47px;
	width: var(--w);
	height: var(--h);
	position: absolute;
	bottom: 4%;
	right: 0;
	background-image: url("./images/uibutton/new_jilu_new.png");
	background-size: 100% 100%;
	border-radius: 1px;
	z-index: 4;
}

/*.meiguiButton_new1 {*/
/*display: block;*/
/*--w: 79px;*/
/*--h: calc(var(--w) * 1080/1626);*/
/*width: var(--w);*/
/*height: var(--h);*/
/*position: absolute;*/
/*bottom: 18.4%;*/
/*right: 0;*/
/*background-image: url("./images/uibutton/meigui_new.png");*/
/*background-size: 100% 100%;*/
/*z-index:3;*/
/*}*/
/**/
.xiaolianButton_new1 {
	display: block;
	--w: 47px;
	--h: 47px;
	width: var(--w);
	height: var(--h);
	position: absolute;
	bottom: 14%;
	right: 0;
	background-image: url("./images/uibutton/new_xiaolian_new.png");
	background-size: 100% 100%;
	z-index: 3;
}

/*------左手手牌显示---------------*/
.handcardNumber1 {
	bottom: 0px;
	left: 0px;
	font-family: "yuanli";
	text-shadow: #f5d78e 0 0 1px, black 0 0 2px, black 0 0 2px, black 0 0 2px, black 0 0 2px, black 0 0 2px, black 0 0 2px;
	color: #f5d78e;
	z-index: 1;
}

.handcardNumber1 > .cardPicture {
	left: 130px;
	bottom: -6px;
	--w: 130px;
	--h: calc(var(--w) * 92 / 400); /*宽和长*/
	width: var(--w);
	height: var(--h);
	background-image: url("./images/uibutton/new_count1.png");
	background-size: 100% 100%;
	position: relative;
	transform: scaleX(-1);
	z-index: -1;
}
/*手牌数参数*/
.handcardNumber1 > .cardNumber {
	left: 160px;
	bottom: 18px;
	height: 8px;
	line-height: 25px;
	text-align: center;
	color: #fffcf5;
	font-size: 20px;
	white-space: nowrap;
	letter-spacing: 0.35px; /*字体间距*/
}
